.main{
     width: 100px;
     height: 30px;
     border-bottom: 1px solid grey;

}

.secondary{
    width: 100px;
     height: 30px;
     border-bottom: 1px solid rgb(201, 21, 21);

}

.success{
    width: 100px;
     height: 30px;
     border-bottom: 1px solid rgb(62, 236, 18);


}

input[type='text']{
    background: transparent;
    border: none;
    outline: none;
    margin-left: 10px;
    color: rgb(197, 186, 186);
    font-size: 20px;
    
}






