.bg{
}

.mainn{
    background: -webkit-linear-gradient(45deg,#900d0d,#423144);
    
    min-height: 100vh;
    min-width: 100vw;
}

.secondaryy{
    background: -webkit-linear-gradient(45deg,#e9e3e3,#372d38);
    min-height: 100vh;
    min-width: 100vw;
    
}

.dangerr{
    background: -webkit-linear-gradient(45deg,#900d0d,#862391);
    
    min-height: 100vh;
    min-width: 100vw;
}