.login__page{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: -webkit-linear-gradient(45deg,#900d0d,#423144);
}

.login__container{
    text-align: center;
  
}

.login__container h1{
  
    font-size: 3rem;
     font-weight: 300;
     color: black;
    

}

.login__container button{

margin-top: 35px;
width: 90%;
padding: 8px;
font-size: 1.2rem;
font-weight: 500;
border: 0.3px solid   rgba(226,226 ,226);
background: transparent;
border-radius: 50px;
color: #fccfcc;
font-style: italic;
transition: all 0.5s ease-in;
outline: none;
}

.login__container button:hover{


background-color: rgb(206, 193, 193,0.2);
color: #ffffff;


}
i{
    transition: all 0.5s ease-in-out;
}

.login__container button:hover i{
    color: #ff9090;
}


.login__container button i{
margin-right: 13px;
/* color: rgb(255, 253, 253); */

}
